.pic {
  background-color: LightBlue;

}

  div.pic img {
    width: 250px;
    height: 250px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;

  }

  .info {
    text-align: justify;
    width: auto;
    height:auto;
    margin: 10 auto;
    display: inline-block;
    margin-left: 10%;
  }

  hr.hr_style {
    size: 20;
    border: 0;
    height: 2px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #00BFFF, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #00BFFF, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #00BFFF, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #00BFFF, #f0f0f0);
  }
.body {
  min-width: 500px;
}

.other {
  display: inline-block;
  margin: 10 auto;
  clear: both;
  float: right;
}

.exp {
  float: right;
  width: 100%;
  margin-right: 10%;
}

h2 {
  allign: left;
  text-align: justify;
}

h3 {
  font-size: 24px;
}

h1 {
  font-size: 40px;
}

td, tr {
  allign: center;
  text-align: justify;
}

.material-icons {
  color: CadetBlue;
  font-size: 6em;
}
